[Unit]
Description=Desktop agent for Cauldron browser extension
After=syslog.target network.target

[Service]
Environment="CAULDRON_DIR=%h/.cache/cauldron"
ExecStart=/usr/bin/env cauldron
Restart=always
SyslogIdentifier=cauldron

[Install]
WantedBy=default.target
